<div class="login-container">
    <form class="login-form" (ngSubmit)="onSubmit()">
        <h1>Credenciais | Barcode Online</h1>
        <div class="form-group">
            <label for="username">Usuário</label>
            <input type="text" id="username" name="username" [(ngModel)]="username" required />
        </div>
        <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required />
        </div>
        <button class="btn-acesso" type="submit">Acessar</button>
        <button type="button" (click)="register()">Registrar</button> <!-- Botão de registro -->
    </form>
</div>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://www.techinmidia.com">
            Desenvolvido por Techinmidia | 2024
        </a>
    </div>
</nav>

 
